header#header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container
            a.navbar-brand(href="/") My Portfolio
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item
                        a.nav-link(href="/projects/list") Projects
                    li.nav-item
                        a.nav-link(href="/skills/list") Skills
                    li.nav-item
                        a.nav-link(href="/admin/login") Login/Register
